@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
  }

html,body{
    padding:0;
    margin:0;
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height:100vh;
}
header{
    display: flex;
    justify-content: space-between;
}
header p{
    margin-right: 15px;
}

.resetBtn,.checkBtn{
    background: var(--white);
    border: none;
    font-family: inherit;
    padding: 15px 34px;
    margin: 10px;
    cursor: pointer;
}
h1{
    text-align: center;
}
#secretNumber{
    color: var(--black);
    background: var(--white);
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 50px;
    margin-top: 53px;
    z-index: 10;
}
#secretNumber::after{
    content: '';
    border-top: 5px solid var(--white);
    width: 100%;
    position: absolute;
    z-index: -2;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 85px;
}
.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftSide input{
    border: 1px solid var(--white);
    background: inherit;
    color: inherit;
    width: 200px;
    height: 50px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.rightSide > p:first-child{
    margin-bottom: 80px;
}